[submodule "Frameworks/Alamofire"]
	path = Frameworks/Alamofire
	url = https://github.com/Alamofire/Alamofire
[submodule "Frameworks/SwiftyJSON"]
	path = Frameworks/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON
